@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Manrope:wght@200..800&display=swap");

.home {
  overflow-y: auto;
}

.banner {
  padding: 0;
  margin: 0;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 270px 540px 1fr;
  grid-template-rows: 330px 250px;
  grid-template-areas:
    "img-1 img-2 img-3"
    "text text img-3";
  gap: 2rem;
  margin-bottom: 4rem;
}

.img-1 {
  grid-area: img-1;
  border-radius: 20px;
  background-image: url("https://i.ibb.co/j91zP4Dy/dom-hill-Jq-Zl-Sn-I2ct-A-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20%;
}

.img-2 {
  grid-area: img-2;
  border-radius: 20px;
  background-image: url("https://i.ibb.co/fGL8sWqQ/ovayo-ntlabati-f-WTk4-Jqwi-M-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20%;
}

.img-3 {
  grid-area: img-3;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: 80%;
  background-image: url("https://i.ibb.co/qMSqnGKN/sirio-7-ZNLVl-Jchs-unsplash.jpg");
}

.text {
  grid-area: text;
  max-width: 90%;
  font-family: "Anton SC", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: 85px;
  line-height: 1.1;
}

.box {
  position: relative;
  bottom: 25px;
  left: 0px;
}
